@import "tailwindcss";

@theme {
  --color-background: #090c10;
  --color-foreground: #e2e8f0;
  --color-panel: #111827;
  --color-panel-border: #1f2937;
  --color-accent: #0ea5e9;
  --color-accent-hover: #38bdf8;
  --color-status-green: #10b981;
  --color-status-yellow: #f59e0b;
  --color-status-orange: #f97316;
  --color-status-red: #ef4444;
  --font-sans: "Inter", var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  
  --animate-dash: dash 20s linear infinite;
  @keyframes dash {
    to {
      stroke-dashoffset: -1000;
    }
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
